
#container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-right: 90px;
  width: 100px;
}

.box{
  background: rgba(255, 255, 255, 0.2);
  color: pink;
  padding: 3%;


}
/*
.box:first-of-type{
  background-image: url(../photos/alphabet/A.png);
} */

#container:target {
  display: flex;
  flex-direction: column;
}


/*
#grid{
  display: none;
}

#flex{
  display: none;
} */

/* #grid:target + classe{
	display: block;
}

#flex:target {
	display: block;
} */


/*
#flex:target ~ .grid {
	display: none;
} */
