.supprimer{
  margin: 40px;
  color: #F39483;
}

.all{
  width: 95%;
  margin-right: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}

header{
  width: 100%;
  margin-right: 20px;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 50px;
  padding-left: 20px;
  align-items: center;
  transition: 1s all ease;
}

#main-menu:target ~ header{
    left: 320px;
}




#container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-right: 90px;
  width: 100%;
  padding-top: 20%;
}

.btn{
  background-color: white;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 5px;
  border: medium solid white;
  margin: 21px;
}

.btn:hover{
  border-color: #F39483;
  border-width: medium;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}


.box{
  color: pink;
  min-height: 200px;
  max-height: 300px;
}


#container:target {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container:target .box{
  margin: 20px;
  flex-basis: 30%;
  flex-grow: 1;
  min-height: 300px;
}


#container div{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  width: 92%;
  margin-right: 20px;
  margin-left: 20px;
}


/* A */

#A{
  background: url(../lettres/A.png);
}


/* B */

#B{
  background: url(../lettres/B.png);
}


/* C */


svg{
  width: auto;
  max-height: 200px;
}

#bleu1, #bleu2{
  fill: #93C1C1;
  /* transition: fill 1s ease-in-out; */
  animation: 1.1s ease-in 2s infinite alternate pulse;
}

svg:hover {
  cursor: pointer;
}

/*
svg:hover #bleu1, svg:hover #bleu2 {
  fill: #B2EDE7;
} */

@keyframes pulse {
  from {
    fill: #93C1C1;
  }

  to {
  fill: #B2EDE7;
  }
}



/* D */

#D{
  background: url(../lettres/D.png);
}

/* E */

#E{
  background: url(../lettres/E.png);

}

/* F */

#F{
  background: url(../lettres/F.png);
}


/* G */

#G{
  background: url(../lettres/G.png);
}

#G span{
  color: black;
  display: none;
  vertical-align: middle;
}

#G:hover{
  background-image: none;
  transition: fill 1s ease-in-out;

}

#G:hover span{
  display: block;
}



/* TEST */
img{
  width: auto;
  max-height: 200px;
}

#H:hover{
  cursor: pointer;
}

img:hover{
    -webkit-transform: translate(100px) rotate(20deg);
    -webkit-transform-origin: 0 -250px;
    transform: translate(100px) rotate(20deg);
    transform-origin: 0 -250px;}



/* O */

.st0-o{display:none;}
.st1-o{fill:#16110D;}
.st2-o{fill:#F39483;}
.st3-o{fill:#93C1C1;}
.st4-o{fill:#EEE5D3;}

#lettre-o{
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 1s ease-out;
}

#lettre-o:hover{
  -webkit-transform: translate(100px) rotate(20deg);
  -webkit-transform-origin: 0 -250px;
  transform: scale(1);
  transform-origin: 50% 50%;
  }
