body{
  background-color: #FFC9B5;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

section {
  border-bottom: 2px solid red;
  min-height: 205vh;
}

#main-menu{
  background-color: #9DC5BB;
  height: 100vh;
  width: 320px;
  position: fixed;
  top: 0;
  left: -270px;
  transition: 1s all ease;
}

#main-menu:target{
  left: 0px;
}

.all{
  position: absolute;
  width: 100%;
  left: 50px;
  transition: 1s all ease;

}

#main-menu:target ~ .all{
    left: 320px;
}

#main-menu a {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}


#main-menu:target ~ a {
  display: none;
}

#main-menu:target ~ .close-menu{
  display: block;
}

.close-menu{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}



nav {
  position:absolute;
  top: 25vh;
}
